@font-face {
  font-family: "Alber Sans";
  src: url('../assets/fonts/AlberSans.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Alber Sans';
  background-image: url('./assets/img/globos.jpg');
}
.background-image {
  background-image: url('./assets/img/globos.jpg');
}
.background-white {
  background-image: none;
  background-color: white;
}
.disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}
/* header */
header {
  width: 100%;
  height: min-content;
  box-shadow: 4px 4px 4px rgba(245, 245, 245, 0.2);
}
header .container {
  width: 100%;
  height: min-content;
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding-block-start: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50px;
}
.back-img {
  object-fit: contain !important;
}
.logo p {
  width: 160px;
  font-size: 1.8rem;
  margin-inline-start: 8px;
  font-family: 'Roboto';
  font-weight: bold;
}
.time {
  width: 110px;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.9);
}
.time span{
  width: 60px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}
.time img {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -4px;
}


/* main */
main {
  width: 100%;
  height: calc(100vh - 70px);
  overflow-x: scroll;
}
.hide {
  display: none  !important;
}
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category__card {
  width: 160px;
  position: relative;
  margin: 8px;
  margin-block-start: 14px;
  border-radius: 12px;
  overflow: auto;
  background-color: yellow;
}
.category__card img {
  width: 100%;
  height: 100%;
}
.category__label {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -30px;
  left: -30px;
  border-radius: 50%;
  background-color: #FFDE59;
}
.category__label img {
  width: 40%;
  height: min-content;
  position: absolute;
  right: 14px;
  bottom: 10px;
}
.category__card p {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  padding: 2px;
  color: black;
}
@media (min-width: 560px) {
  .category {
    flex-direction: row;
  }
}

/* alphabet*/
#abecedario,
#abecedario-en {
  max-width: 720px;
  margin: 4px auto;
  display: grid;
  gap: 14px 12px;
  grid-template-columns: repeat(auto-fill, 110px);
  grid-auto-rows: 110px;
  place-content: center;
  font-size: 6rem;
  font-weight: 900;
}
#abecedario > div,
#abecedario-en > div {
  height: 100%;
  padding: 8px;
  border-radius: 14px;
}
#abecedario > div {
  background-color: #ffff80;
}
#abecedario-en > div {
  background-color: #38BDF2;
}
.abecedario__item,
.abecedario__item--english {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.abecedario__item:active,
.abecedario__item--english:active {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: scale(0.99);
  border: 1px solid rgba(0, 0, 0, 0.3)
}
.abecedario__item {
  color: yellow;
  background-color: forestgreen;
  text-shadow: 4px 4px 2px rgb(0, 0, 0);
  box-shadow:  4px 4px 5px rgba(0, 0, 0, 0.4);
}
.abecedario__item--english {
  color: #FF1717;
  background-color: #FFDE59;
  box-shadow:  2px 3px  #A6A6A6;
}

/* Silable */
#silabas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#silabas > div {
  width: auto;
  margin: 8px;
  padding: 8px;
  border-radius: 14px;
  background-color: #ffff80;
  /*background: rgb(232,255,79);
  background: linear-gradient(90deg, rgba(232,255,79,1) 1%, rgba(107,227,251,1) 100%);*/
}
#silabas > div > p {
  font-size: 4rem;
  font-weight: bold;
  margin-left: 12px;
  color: forestgreen;
}
.silabas__container {
  display: flex;
  flex-wrap: wrap;
}
.silabas__container > div {
  width: 7.2rem;
  height: 7.2rem;
  padding: 8px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  border-radius: 14px;
  background-color: forestgreen;
  color: yellow;
  text-shadow: 3px 3px 1px black;
}

/* Stories*/
#cuentos {
  width: 100%;
  padding: 10px;
  display: grid;
  gap: 32px 16px;
  justify-items: center;
  align-items: center;
}
#cuentos > div {
  width: 260px;
  height: min-content;
  background-color: yellow;
  border-radius: 14px;
}
#cuentos > div > img {
  width: 100%;
  border-radius: 14px 14px 0 0;
}
#cuentos > div > p {
  margin: 4px 0 6px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}
@media (min-width: 600px){
  #cuentos {
    grid-template-columns: 1fr 1fr;
  }
}


/* Sección leer cuento */
#read-cuento .picture {
  display: flex;
  justify-content: center;
}
#read-cuento .picture img {
  width: 260px;
  border-radius: 14px;
}
#read-cuento .content {
  margin: 16px;
  padding: 8px;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 1px;
}
