@font-face {
  font-family: "Alber Sans";
  src: url('../assets/fonts/AlbertSans.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url('../assets/img/globos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#abecedario {
  margin: 4px auto;
  display: grid;
  gap: 14px 12px;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  place-content: center;
  font-family: 'Alber Sans';
  font-size: 6rem;
  font-weight: 700;
}
.abecedario__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  /*background-color: yellow;*/
  background: rgb(232, 255, 79);
  background: linear-gradient(90deg, rgba(232, 255, 79, 1) 1%, rgba(107, 227, 251, 1) 100%);
  border-radius: 50px;
  box-shadow:  4px 4px 5px rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.abecedario__item:active {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: scale(0.99);
  border: 1px solid rgba(0, 0, 0, 0.3)
}
