header {
  box-shadow: 4px 4px 4px rgba(245, 245, 245, 0.2);
}
header .container {
  width: 100%;
  height: min-content;
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding-block-start: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50px;
}
.logo p {
  font-size: 1.8rem;
  margin-inline-start: 8px;
  font-family: 'Roboto';
  font-weight: bold;
}
.time {
  width: 110px;
  height: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.9);
}
.time span{
  width: 60px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}
.time img {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -4px;
}
