@font-face {
  font-family: "Roboto Slab";
  src: url('../assets/fonts/RobotoSlab.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url('../assets/img/globos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#silabas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#silabas > div {
  width: auto;
  margin: 8px;
  padding: 8px;
  border-radius: 14px;
  background-color: yellow;
}
#silabas > div > p {
  font-size: 4rem;
  font-weight: bold;
  margin-left: 18px;
}
.silabas__container {
  display: flex;
  flex-wrap: wrap;
}
.silabas__container > div {
  width: 7.2rem;
  height: 7.2rem;
  padding: 8px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  border-radius: 14px;
  background-color: white;
  
}
