@font-face {
  font-family: "Alber Sans";
  src: url('../assets/fonts/AlberSans.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Alber Sans';
  background-image: url('../assets/img/globos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#silabas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#silabas > div {
  width: auto;
  margin: 8px;
  padding: 8px;
  border-radius: 14px;
  background-color: #ffff80;
  /*background: rgb(232,255,79);
  background: linear-gradient(90deg, rgba(232,255,79,1) 1%, rgba(107,227,251,1) 100%);*/
}
#silabas > div > p {
  font-size: 4rem;
  font-weight: bold;
  margin-left: 12px;
  color: forestgreen;
}
.silabas__container {
  display: flex;
  flex-wrap: wrap;
}
.silabas__container > div {
  width: 7.2rem;
  height: 7.2rem;
  padding: 8px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  border-radius: 14px;
  background-color: forestgreen;
  color: yellow;
  text-shadow: 3px 3px 1px black;
}
